
<p>Hi, I am Stefano, a Microsoft employee!<br/> Welcome to my personal blog 👋</p><p>  Here I share my thoughts and experiences on Microsoft 365 Development and Azure.
This blog is not affiliated with or endorsed by Microsoft in any way. The content of this blog is created by me as a hobby and reflects my personal opinions and views, not those of my employer or any other entity.</p>
