Title: Welcome!
Description: => Context.GetString("SiteDescription")
ArchiveSources: => GetString("PostSources")
ArchiveFilter: => GetBool("IsPost")
ArchiveDestination: >
  => GetInt("Index") <= 1 ? $"index.html" : $"page/{GetInt("Index")}.html"
ArchivePageSize: 3
ArchiveOrderKey: Published
ArchiveOrderDescending: true
ArchiveTitle: => GetString("Title")
IsPost: false
---

<div class="container-sm-height">
  <div class="row row-sm-height">
    <div class="col-md-8 right-border col-sm-height">
      @Html.Partial("/_posts.cshtml", Document)
    </div>
     @Html.Partial("/_sidebar.cshtml")
  </div>
</div>

